.header{
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.header__logo{
    /* color: var(--color-white); */
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-right: auto;
}
.header__navigation{
    display: flex;
    align-items: center;
    list-style: none;
}
.header__navigation__item{
    padding: 1rem 1.5rem;
    transition: all .4s ease-out;
}
.header__navigation__item:hover, .header__navigation__item:first-child{
    background-color: var(--color-white-light);
    box-shadow: 0 0 5px;
}
.header__navigation__item:not(:last-child){
    margin-right: 4rem;
    font-size: 2rem;
}
.header__navigation__item--link:link, .header__navigation__item--link:visited, .header__navigation__item--link{
    text-decoration: none;
    color: var(--color-grey-default);
    text-transform: capitalize;
    letter-spacing: 2px;
}
